<!doctype html>
<html>
<body>
    <div ng-init="qty=1;cost=2">
        <b>Invoice:</b>
        <div>
            Quantity:
            <input type="number" min="0" ng-model="qty">
        </div>
        <div>
            Costs:
            <input type="number" min="0" ng-model="cost">
        </div>
        <div>
            <b>Total:</b> {{qty * cost | currency}}
        </div>
    </div>
    <div ng-controller="WelcomeController">
        {{greeting}}
    </div>
    <div ng-controller="LeaveController">
        {{leaveMessage}}
    </div>
    <script src="/Scripts/angular.min.js" type="text/javascript"></script>
    <script>
        var app = angular.module('demo', [])
        app.controller('WelcomeController', function ($scope) {
            $scope.greeting = 'Welcome!';
        });

        var app1 = angular.module('demo1', [])
        app1.controller('LeaveController', function ($scope) {
            $scope.leaveMessage = 'Get lost!';
        });

        angular.bootstrap(document, ['demo', 'demo1']);
    </script>
</body>
</html>
